@layer components {

  .section-main{ @apply bg-[var(--bg-primary)] clear-both w-full block py-[50px] md:py-[80px] lg:py-[100px]  relative }

  .btn {   
    @apply text-white bg-black  text-[14px] md:text-[16px] font-semibold  px-[20px] py-[10px] md:px-5 md:py-2.5  text-center   transition delay-200 duration-500 ease-in-out; 
  }

  /* card */

  .card{ @apply shadow-2xl shadow-stone-900/15 overflow-hidden relative rounded-xl }
  .card * { @apply duration-300 ease-linear group-hover:text-white; }
  .card-bg{ @apply bg-gradient-to-tr from-stone-900 to-stone-800 absolute aspect-square pointer-events-none 
            w-[200%] h-[200%] rounded-full  z-[-1] top-[-170px] left-[-170px]  origin-top-left  delay-200 opacity-0 scale-0
            transition-all group-hover:opacity-100 group-hover:scale-100
  }

  .card-header,.card-body,.card-footer{
    @apply px-[30px] py-[15px] 
          max-md:px-[15px] max-md:py-[15px] 
          md:px-[15px] md:py-[15px] 
          lg:px-[15px] lg:py-[15px]
          xl:px-[30px] xl:py-[15px]
    ;} 
  

  /* form Group */
  .form-group{ @apply w-full mb-[20px];}
  .form-input{ @apply flex justify-between max-sm:flex-col; }
  .form-input > div {@apply mx-[5px] ;}
  .form-input > div:first-child{@apply ml-[0px] max-sm:mr-[0px];}
  .form-input > div:last-child{@apply mr-[0px] max-sm:ml-[0px];}
  .PhoneInput{@apply border border-black pl-[10px] rounded-md;}
  .PhoneInput > input { @apply h-[45px] px-2.5;
    width:100% !important;
  }
  .PhoneInput > input:focus, .PhoneInput > input:focus-visible{ @apply border-0  outline-0;}
  
  /* banner */
  .banenr{@apply  bg-no-repeat bg-cover bg-bottom; }
  .banenr-inner{@apply  flex flex-col justify-start h-[550px] max-sm:h-[450px] pt-[120px] text-white max-w-[1000px] m-auto; }
  /* banner */
  
  /* concat box */
  .contact-box{@apply flex items-center mb-[30px];}
  .contact-box a,.contact-box address{@apply text-white ml-[15px]; }
  /*  */
  .box-inner-section {@apply shadow-[-10px_10px_10px_-7px_rgba(0,0,0,0.47)] max-md:shadow-[0px_8px_30px_-7px_rgba(0,0,0,0.47)] max-md:h-auto grid max-w-[1000px] m-auto mt-[-200px]  grid-cols-[60%_40%] max-md:grid-cols-1 max-md:order-2;}
  .box-text-section{@apply flex flex-col justify-center max-md:order-2 p-[30px_60px_60px_60px] bg-white max-lg:p-[40px];}
  .box-color-section {@apply flex justify-center items-center bg-black p-[30px] max-md:order-1; }
  /* concat box */
  .white-image{ filter: invert(100%) sepia(1%) saturate(1000%) hue-rotate(360deg); } 

  /* File Upload */
  .dndFile { @apply  w-full text-center flex-col h-auto flex items-center justify-center relative bg-[#f5f6f8] text-[#3a4a56] px-0 py-5 rounded-md border-2 border-dashed border-[#aaa];}
  .dndFile input { @apply absolute w-full text-[0] opacity-0 border-0 inset-0; }
  .prview_image_box{@apply border block border-black mt-[5px];}
  .prview_image_box,
  .prview_image_box > div { @apply justify-between flex w-auto items-center p-[5px];}
  .prview_image_box > div{@apply p-[0px];}

  /* File Uoload */

  /* error */
  .error{@apply text-red-700;}

  /* text editer */
.textEditer_cutome_header select {  @apply mr-[18px];}
.textEditer_cutome_header button {  @apply border-[#ffdead] px-[6px];}
.textEditer_cutome_header button svg {  @apply w-5;}
.textEditer_cutome > div > .tiptap img { @apply max-w-full;}
.tiptap.ProseMirror {  @apply min-h-[130px] border rounded border-solid border-black p-3;}
}